{% extends "layout.html" %}

{% block title %}
    Overview
{% endblock %}

{% block main %}

<h2>What is Olympic Weightlifting?</h2>
<a href="https://en.wikipedia.org/wiki/Olympic_weightlifting"> Source: Wikipedia.org</a>
<div style="margin: 2% 10% 0% 10%">
    <p>Olympic weightlifting, or Olympic-style weightlifting (officially named Weightlifting), is a sport in which athletes compete in lifting a barbell loaded with weight plates from the ground to overhead, with each athlete trying to successfully lift the heaviest weights. Athletes compete in two specific ways of lifting the barbell overhead: these are the snatch and the clean and jerk. The snatch is a wide-grip lift, in which the weighted barbell is lifted overhead in one motion. The clean and jerk is a combination lift, in which the weight is first taken from the ground to the front of the shoulders (the clean), and then from the shoulders to overhead (the jerk). The clean and press, wherein a clean was followed by an overhead press, was formerly also a competition lift, but was discontinued due to difficulties in judging proper form.
        <br>
        <br>
        Each weightlifter gets three attempts at both the <b>snatch</b> and the <b>clean and jerk</b>, with the snatch attempts being done first. An athlete's score is the combined total of the highest successfully-lifted weight in kilograms for each lift. Athletes compete in various weight classes, which are different for each sex and have changed over time. Lifters who fail to successfully complete at least one snatch and at least one clean and jerk fail to total, and receive an "incomplete" entry for the competition.
        <br>
        <br>
        Weightlifting is an olympic sport, and has been contested in every Summer Olympic Games since 1920. Whilst the sport is officially named "weightlifting", the terms "olympic weightlifting" and "olympic-style weightlifting" are often used to distinguish it from the other sports and events that involve the lifting of weights, such as powerlifting, weight training, and strongman events. Similarly, the snatch and clean-and-jerk are known as the "olympic lifts".
        <br>
        <br>
        While other strength sports test limit strength, olympic-style weightlifting also tests aspects of human ballistic limits (explosive strength): the olympic lifts are executed faster, and with more mobility and a greater range of motion during their execution, than other barbell lifts. The olympic lifts, and their component lifts (e.g., cleans, squats) and their variations (e.g., power snatch, power clean) are used by elite athletes in other sports to train for both explosive and functional strength.</p>
</div>
{% endblock %}
